<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
    <div th:replace="fragments/cabecalho :: cabecalho"></div>

    <div class="container conteudo">
        <div class="card shadow">
            <div class="card-header bg-light text-dark">
                <h4>BloomFinance</h4>
            </div>
            <div class="card-body">
                <p>Bem-vindo ao <strong>BloomFinance</strong>, sua plataforma de controle financeiro inteligente.</p>
                <p><a th:href="@{/auth/login}" class="btn btn-primary">Acesse sua conta</a></p>
            </div>
        </div>
    </div>
</body>
</html>