<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
    <div th:replace="fragments/cabecalho :: cabecalho"></div>

    <div class="container conteudo">
        <div class="card">
            <div class="card-header">BloomFinance</div>
            <div class="card-body">
                <p>Bem-vindo ao BloomFinance, sua plataforma de controle financeiro inteligente.</p>
                <p>Como administrador, você poderá:
                    <ul>
                        <li>Adicionar ou consultar correntistas</li>
                        <li>Adicionar ou consultar contas</li>
                    </ul>
                </p>
                <p>Como correntista, você poderá:
                    <ul>
                        <li>Realizar transações</li>
                        <li>Visualizar extratos</li>
                        <li>Gerenciar orçamento</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</body>

</html>



