<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head th:replace="fragments/head :: head"></head>
<body>
<div th:replace="fragments/cabecalho :: cabecalho"></div>

<div class="container mt-4">
    <h2 class="mb-3">Selecione a Conta para ver o Extrato</h2>

    <ul class="list-group">
        <li th:each="conta : ${contas}" class="list-group-item">
            <a th:href="@{/extratos/{id}(id=${conta.id})}">
                <span th:text="${conta.correntista.nome}"></span>
                - Conta <span th:text="${conta.numero}"></span>
                - Banco <span th:text="${conta.descricao}"></span>
            </a>
        </li>
    </ul>
</div>

</body>
</html>