<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
  <div th:replace="fragments/cabecalho :: cabecalho"></div>

  <div class="container conteudo">
    <div class="card shadow">
      <div class="card-header bg-light">
        <h4 th:text="${transacao.id == null ? 'Cadastrar Transação' : 'Editar Transação'}"></h4>
      </div>
      <div class="card-body">
        <form th:action="@{/transacoes/salvar}" th:object="${transacao}" method="post">
          <input type="hidden" th:field="*{id}"/>

          <div class="mb-3">
            <label class="form-label">Conta:</label>
            <select th:field="*{conta}" class="form-select"
                    th:classappend="${#fields.hasErrors('conta')} ? 'is-invalid'">
              <option value="">Selecione</option>
              <option th:each="c : ${contas}" th:value="${c.id}" th:text="${c.descricao}"></option>
            </select>
            <div class="invalid-feedback" th:errors="*{conta}"></div>
          </div>

          <div class="mb-3">
            <label class="form-label">Movimento:</label>
            <select th:field="*{movimento}" class="form-select"
                    th:classappend="${#fields.hasErrors('movimento')} ? 'is-invalid'">
              <option value="">Selecione</option>
              <option th:each="m : ${T(br.edu.ifpb.pweb2.bloomfinance.model.Movimento).values()}"
                      th:value="${m}" th:text="${m}"></option>
            </select>
            <div class="invalid-feedback" th:errors="*{movimento}"></div>
          </div>

          <div class="mb-3">
            <label class="form-label">Categoria:</label>
            <select th:field="*{categoria}" class="form-select"
                    th:classappend="${#fields.hasErrors('categoria')} ? 'is-invalid'">
              <option value="">Selecione</option>
              <option th:each="cat : ${categorias}" th:value="${cat.id}" th:text="${cat.nome}"></option>
            </select>
            <div class="invalid-feedback" th:errors="*{categoria}"></div>
          </div>

         <div class="mb-3">
            <label for="data" class="form-label">Data:</label>
            <input type="date"
                  th:field="*{data}"
                  class="form-control"
                  th:classappend="${#fields.hasErrors('data')} ? ' is-invalid'">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('data')}" th:errors="*{data}"></div>
          </div>

          <div class="mb-3">
            <label class="form-label">Descrição:</label>
            <input type="text" th:field="*{descricao}" class="form-control"
                  th:classappend="${#fields.hasErrors('descricao')} ? 'is-invalid'"/>
            <div class="invalid-feedback" th:errors="*{descricao}"></div>
          </div>

          <div class="mb-3">
            <label class="form-label">Valor:</label>
            <input type="text"
                  th:field="*{valor}"
                  class="form-control"
                  placeholder="Ex: 10,99"
                  th:classappend="${#fields.hasErrors('valor')} ? 'is-invalid'" />
            <div class="invalid-feedback" th:errors="*{valor}"></div>
          </div>

          <button type="submit" class="btn btn-primary">Salvar</button>
          <a th:href="@{/transacoes}" class="btn btn-secondary ms-2">Cancelar</a>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
